
@import url('https://fonts.googleapis.com/css?family=Oswald|Rubik&display=swap');





*, html {
    box-sizing: border-box;
}

*:before, *:after {
    box-sizing: inherit,
}

html, body, * {
    padding: 0;
    margin: 0;
    font-family: 'rubik';
}

///////////// MIXINS //////////////
@mixin phone {
    @media (max-width: 599px) {
      @content;
    }
  }
  
  @mixin tabletP {
    @media (min-width: 600px) {
      @content;
    }
  }

  @mixin tabletM {
      @media (min-width: 650px) {
          @content;
      }
  }
  
  @mixin tabletL {
    @media (min-width: 900px) {
      @content;
    }
  }
  
  @mixin desktop {
    @media (min-width: 1200px) {
      @content;
    }
  }
  
  @mixin desktopL {
    @media (min-width: 1800px) {
      @content;
    }
  }

  .highlightOne {
      background: #ef2e5d;
      padding-left: 1rem;
      padding-right: 1rem;
  }

  .highlightTwo {
      background: #66b0ff;
      padding-left: 5px;
      padding-right: 5px;
  }
  .highlightOne1 {
    background: #ef2e5d;
    padding-left: 5px;
    padding-right: 5px;
}

@keyframes fade-in {
    from {opacity: 0; transform: scale(.7, .7)}
    to {opacity: 1;}
}

.fade-in-element{
    animation: fade-in 1.4s;
}

.hidden {
    opacity: 0;
} 

//////////////// LANDING PAGE ////////////////////

html, body {
    background: black;
    
}

.backgroundImage {
    background-image: url('/Images/Robert\ 0368.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 110%;
    height: 110%;
    position: absolute;
    top: 0;
    left: 0;
}
header {
    text-align: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
    
    h1 {
        font-size: 3.5rem;
        
    }
    p {
        line-height: 1.7rem;
    }

    .mainIntro {
        
        
            position: absolute;
            top: 7%;
            pointer-events: none;
            min-width: 100%;
            left: 50%;
            margin: 0 auto;
            color: white;
            
            padding-bottom: 3rem;
            padding-top: 3rem;
            padding-left: 2rem;
            padding-right: 2rem;
            transform: translateX(-50%);
    }

    .more {
        opacity: .4;
        color: white;
        position: absolute;
        pointer-events: none;
        bottom: 6rem;
        left: 50%;
        transform: translateX(-50%);
        padding: 1rem 2rem 1rem 2rem;
        font-size: 2rem;
        border: 1px solid #cdd4de;
        border-radius: 5px;
        width: 16rem;
    }
}

/////////////// PROJECTS ////////////////

.projects {
    position: relative;
    background-image: radial-gradient(circle, #06060f, #08070e, #09090d, #0b0b0d, #0c0c0c);

    
    

    .unslant {
        
    }
   
       
        
        
            h2 {
                
                padding-top: 6rem;
                width: 100%;
                text-align: center;
                color: #ef2e5d;
                font-size: 3rem;
            }
        
        
      
    

    p {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        color: white;
        line-height: 1.6rem;

        .underlight {
            font-size: .8rem;
            color: #66b0ff;
            margin-bottom: 3rem;
        }
    }

    .flexitems {
       padding-bottom: 6rem;
        @include tabletL {
            display: flex;
            flex: 1;
            flex-wrap: wrap;
            justify-content: center;
            
        }


        
    }

    

    article {
        width: 100%;
        height: 300px;
        overflow: hidden;
        position: relative;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        transition: all ease-in-out 300ms;

        

        @include tabletL {
            max-width: 450px;
            min-width: 300px;
            margin: 2rem;
            border-radius: 10px;
            
           
        }

        .slideIn {
            position: absolute;
            top: 0;
            left: 0;
            transform: translateX(-450px);
            transition: all ease-in-out 300ms;
            h4 {
                color: white;
                padding-top: 3rem;
                padding-left: 2rem;
                font-size: 2rem;
             } 

             p {
                color: white;
                padding-left: 2rem;
                text-align: left;
               
            }

        }

        
       
    }

    article:after {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-450px);
        width: 100%;
        height: 100%;
        background: #ef2e5d;
        opacity: .5;
        z-index: 2;
        transition: all ease-in-out 300ms;

        
    }

    article:hover {

        .slideIn {
            transform: translateX(0px);
            z-index: 3;
        }
        
    }

    article:hover:after {
        
            transform: translateX(0px);
        z-index: 2;
        
        
    }

    .bluebee {
        background-image: url('/Images/bee.png');
    }

    .bluebee1 {
        background-image: url('/Images/sunsetscreenshot.png');
    }

    .bluebee2 {
        background-image: url('/Images/disaster.png');
    }


    .bluebee3 {
        background-image: url('/Images/port.png');
    }

    .bluebee {
        margin-top: 2rem;
        
    }
    
}

// .projects::before {
//     position: absolute;
//     content: "";
//     width: 100%;
//     height: 10%;   
//     display: block;
//     top: 0;
//     left: 0;
//     background: white;
//     transform-origin: top center;
//     transform: skewY(-20deg);
    
// }



////////////// About /////////////////////////////////////////////

.about {
    color: #333;
    h2 {
        color: white;
        text-align: center;
        
        font-size: 3rem;
        padding-top: 6rem;
        padding-bottom: 2.6rem;
    }

    .newFlex {
        @include tabletM {
            display: flex;
            flex-wrap: wrap;
            flex: 1;
            
            justify-content: center;
    }

    article {
        
        
        color: white;

        padding-bottom: 6rem;
        @include tabletM {
            flex: 1;
            min-width: 300px;
            max-width: 450px;
            margin-left: 1rem;
            margin-right: 1rem;
           
        }
        }
        h3 {
            text-align: center;
            font-size: 2.3rem;
            padding-bottom: 1rem;
            color: #ef2e5d;
            @include tabletM {
                padding-bottom: 1rem;
            }
        }

        ul {
            text-align: left;
           list-style-type: none;
           padding-left: 1rem;
           padding-right: 1rem;
           li {
               font-size: 1.3rem;
               font-weight: bold;
               color: #66b0ff;
           }
        }

        p {
           padding-left: 1rem;
           padding-right: 1rem;
           padding-bottom: 1rem;
           line-height: 1.5rem;
        }
    }
}


////////// Contact /////////

/*********** CONTACT **********************************/




  
.contact {
    background: #1f1f1f;
    
    h2 {
        text-align: center;
        font-size: 3rem;
        padding-top: 6rem;
        padding-bottom: 2rem;
        color: #66b0ff;
        
    }
    color: white;
    
      padding: 0 15px 0 15px;
    
  
    .contactFlex {
      @include tabletL {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex: 1;
      }
  
      @include desktop {
        width: 80%;
      }
    }
  
    .contactTop {
      .phone {
        color: white;
        font-size: 2rem;
      }
  
      a:hover {
        transform: scale(1.1);
      }
  
      @include tabletP {
        width: 90%;
  
        margin: 0 auto;
      }
      @include tabletL {
        
      }
  
      @include desktop {
        margin: 0 5%;
      }
    }
    .form {
      
      margin: 0 auto;

      @include tabletP {
          width: 90%;
      }
      
  
      @include tabletL {
        margin: 0 2rem 0 2rem;
      }
  
      @include desktop {
        margin: 0 5%;
      }
    }
  
    a {
      text-decoration: none;
      font-size: 1.3rem;
      color: white;
    }
    #contactform {
      padding-bottom: 3rem;
    }
  
    input {
      display: block;
      width: 100%;
      margin-bottom: 5%;
      border-radius: 7px;
      font-size: 1.2rem;
      padding: 4px;
      border-style: outset;
      font-family: "montserrat";
      margin-top: 2%;
    }
  
    #button {
      background: transparent;
      border: #ef2e5d 4px solid;
      border-radius: 20px;
      font-weight: bold;
      letter-spacing: 0.1rem;
  
      color: #f2f2f2;
      margin-bottom: 0;
      font-size: 1.6rem;
      cursor: pointer;
      transition: all 200ms ease-in-out;
  
      @include tabletP {
        width: 12rem;
      }
  
      #button:hover {
        cursor: pointer;
      }
    }
  
    #button:hover {
      box-shadow: 0 0 10px 0 white inset, 0 0 10px 4px white;
    }
    textarea {
      width: 100%;
      margin-bottom: 5%;
      font-size: 1.2rem;
      border-radius: 10px;
      min-height: 5rem;
      padding: 5px;
      font-family: "montserrat";
      margin-top: 2%;
    }
  
    
  }
///////// footer //////////
