@import url("https://fonts.googleapis.com/css?family=Oswald|Rubik&display=swap");
*, html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html, body, * {
  padding: 0;
  margin: 0;
  font-family: 'rubik';
}

.highlightOne {
  background: #ef2e5d;
  padding-left: 1rem;
  padding-right: 1rem;
}

.highlightTwo {
  background: #66b0ff;
  padding-left: 5px;
  padding-right: 5px;
}

.highlightOne1 {
  background: #ef2e5d;
  padding-left: 5px;
  padding-right: 5px;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: scale(0.7, 0.7);
            transform: scale(0.7, 0.7);
  }
  to {
    opacity: 1;
  }
}

.fade-in-element {
  -webkit-animation: fade-in 1.4s;
          animation: fade-in 1.4s;
}

.hidden {
  opacity: 0;
}

html, body {
  background: black;
}

.backgroundImage {
  background-image: url("/Images/Robert 0368.JPG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 110%;
  height: 110%;
  position: absolute;
  top: 0;
  left: 0;
}

header {
  text-align: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

header h1 {
  font-size: 3.5rem;
}

header p {
  line-height: 1.7rem;
}

header .mainIntro {
  position: absolute;
  top: 7%;
  pointer-events: none;
  min-width: 100%;
  left: 50%;
  margin: 0 auto;
  color: white;
  padding-bottom: 3rem;
  padding-top: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

header .more {
  opacity: .4;
  color: white;
  position: absolute;
  pointer-events: none;
  bottom: 6rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 1rem 2rem 1rem 2rem;
  font-size: 2rem;
  border: 1px solid #cdd4de;
  border-radius: 5px;
  width: 16rem;
}

.projects {
  background-image: radial-gradient(circle, #06060f, #08070e, #09090d, #0b0b0d, #0c0c0c);
}

.projects h2 {
  padding-top: 6rem;
  padding-bottom: 1rem;
  text-align: center;
  color: #ef2e5d;
  font-size: 3rem;
}

.projects .topP {
  padding-bottom: 1rem;
}

.projects p {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  line-height: 1.6rem;
}

.projects p .underlight {
  font-size: .8rem;
  color: #66b0ff;
  margin-bottom: 3rem;
}

.projects .flexitems {
  padding-bottom: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 650px) {
  .projects .flexitems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.projects article {
  width: 100%;
  height: 300px;
  max-width: 450px;
  min-width: 300px;
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
  border-radius: 10px;
}

@media (min-width: 900px) {
  .projects article {
    max-width: 450px;
    min-width: 300px;
    margin: 2rem;
    border-radius: 10px;
  }
}

.projects article .slideIn {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-450px);
          transform: translateX(-450px);
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.projects article .slideIn h4 {
  color: white;
  padding-top: 3rem;
  padding-left: 2rem;
  font-size: 2rem;
}

.projects article .slideIn p {
  color: white;
  padding-left: 2rem;
  text-align: left;
}

.projects article:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-450px);
          transform: translateX(-450px);
  width: 100%;
  height: 100%;
  background: #66b0ff;
  opacity: .7;
  z-index: 2;
  -webkit-transition: all ease-in-out 300ms;
  transition: all ease-in-out 300ms;
}

.projects article:hover .slideIn {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  z-index: 3;
}

.projects article:hover:after {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  z-index: 2;
}

.projects .bluebee {
  background-image: url("/Images/bee.png");
}

.projects .bluebee1 {
  background-image: url("/Images/sunsetscreenshot.png");
}

.projects .bluebee2 {
  background-image: url("/Images/disaster.png");
}

.projects .bluebee3 {
  background-image: url("/Images/port.png");
}

.projects .bluebee {
  margin-top: 2rem;
}

.about {
  color: #333;
}

.about h2 {
  color: white;
  text-align: center;
  font-size: 3rem;
  padding-top: 6rem;
  padding-bottom: 2.6rem;
}

@media (min-width: 650px) {
  .about .newFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about .newFlex article {
  color: white;
  padding-bottom: 6rem;
}

@media (min-width: 650px) {
  .about .newFlex article {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    min-width: 300px;
    max-width: 450px;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.about .newFlex h3 {
  text-align: center;
  font-size: 2.3rem;
  padding-bottom: 1rem;
  color: #ef2e5d;
}

@media (min-width: 650px) {
  .about .newFlex h3 {
    padding-bottom: 1rem;
  }
}

.about .newFlex ul {
  text-align: left;
  list-style-type: none;
  padding-left: 1rem;
  padding-right: 1rem;
}

.about .newFlex ul li {
  font-size: 1.3rem;
  font-weight: bold;
  color: #66b0ff;
}

.about .newFlex p {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  line-height: 1.5rem;
}

/*********** CONTACT **********************************/
.contact {
  background: #1f1f1f;
  color: white;
}

.contact .flexC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact .callMe {
  max-width: 400px;
}

.contact h2 {
  text-align: center;
  font-size: 3rem;
  padding-top: 6rem;
  padding-bottom: 2rem;
  color: #66b0ff;
}

.contact form {
  margin: 0 auto;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 3rem;
}

.contact form div + div {
  margin-top: 1rem;
}

.contact div {
  width: 300px;
  margin: 0 auto;
}

.contact label {
  display: inline-block;
  text-align: left;
  width: 76.16px;
  font-size: 1.1rem;
  margin-bottom: .3rem;
}

.contact textarea {
  vertical-align: top;
}

.contact input, .contact textarea {
  font-family: 'rubik';
  max-width: 400px;
  min-width: 300px;
  background: transparent;
  border: 1px solid #fdfdfd;
  border-radius: 2px;
  font-size: 1.1rem;
  color: #fff;
  line-height: 2rem;
}

.contact input:focus, .contact textarea:focus {
  outline: none;
  border: 1px solid #66b0ff;
}

.contact button {
  margin-left: .5rem;
  width: 10rem;
  color: #fff;
  font-size: 1.4rem;
  background-color: #ef2e5d;
  border: transparent;
  border-radius: 5px;
}

footer {
  background-color: #0c0c0c;
  color: #e4dada;
  text-align: center;
  height: 7rem;
}

footer p {
  padding-top: 3rem;
}
/*# sourceMappingURL=style.css.map */